<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GENERATE TOKEN</title>

    <!-- scripts -->
    <!-- add render url key value with your site key -->
    <script src="https://www.google.com/recaptcha/api.js?render="></script>
    <script src="public/index.js"></script>
</head>

<body>
    <h1>TES RECAPTCHA GAN</h1>
    <button class="generate-token">click for generate token</button>
</body>

</html>